html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------- End of Meyer Reset -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Raleway&display=swap');

body {
  font-family: 'Raleway';
  background-color: #FDF0D5;
}

.signup-form h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 5%;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 5% auto;
}

.signup-form form input {
  margin-bottom: 6%;
  border: none;
  border-bottom: 1px solid black;
  font-family: 'Raleway';
  background-color: #FDF0D5;
  font-size: 18px;
}

.signup-form form input:focus {
  outline: none;
}

.signup-form form select {
  margin-bottom: 4%;
  font-family: 'Raleway';
  font-size: 18px;
}

.signup-form form button {
  font-family: 'Raleway';
  border-radius: 6px;
  border: none;
  margin-top: 4%;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #9e90a2;
  color: #FDF0D5;
  height: 30px;
  font-size: 20px;
}

.signup-form form button:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.signup-form form p {
  font-size: 12px;
  margin-top: 4%;
  text-align: center;
}

.signup-form form span {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.notification {
  width: 30%;
  margin: 10% auto;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.notification button {
  font-family: 'Raleway';
  border-radius: 6px;
  border: none;
  margin-top: 4%;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #9e90a2;
  color: #FDF0D5;
  height: 30px;
  font-size: 20px;
}

.notification button:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}